$image: "http://www.w3cplus.com/sites/default/files/blogs/2015/1506/huadenchushang.jpg";
$width:100vw;
$height:100vh;
$raindrops:120;

.super {
  margin: 0;
  border: 0;
  padding: 0;
}

html, body {
  @extend .super;
}

.container {
  position:relative;
  width: $width;
  height: $height;
  overflow: hidden;
}

.window {
  position: absolute;
  width: $width;
  height: $height;
  background: url($image);
  background-size: cover;
  background-position: 50%;
  filter: blur(10px);
}



$drop-width:15px;
$drop-stretch:1.1;
$drop-height:$drop-width*$drop-stretch;
.raindrop {
  position: absolute;
  top: $height/2;
  left: $width/2;
  width: $drop-width;
  height: $drop-height;
  border-radius: 100%;
  background-image: url($image);
  background-size: $width*0.05 $height*0.05;
  transform: rotate(180deg);
}

.border {
  position: absolute;
  top: $height/2;
  left: $width/2;
  margin-left: 2px;
  margin-top: 1px;
  width: $drop-width - 4;
  height: $drop-height;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
}


@for $i from 1 through $raindrops{
  $x:random();
  $y:random();
  $drop-width:5px+random(11);
  $drop-stretch:0.7+(random()*0.5);
  $drop-height:$drop-width*$drop-stretch;
  .raindrop:nth-child(#{$i}){
    left:$x * $width;
    top:$y * $height;
    width:$drop-width;
    height:$drop-height;
    background-position:percentage($x) percentage($y);
  }
  .border:nth-child(#{$i}){
    left:$x * $width;
    top:$y * $height;
    width:$drop-width - 4;
    height:$drop-height;
  }

}




@keyframes falling {
  from {

  }
  to {
    transform: translateY(500px);
  }
}


@for $i from 1 through $raindrops{
  $x:random();
  $y:random();
  $drop-width:5px+random(11);
  $drop-stretch:0.7+(random()*0.5);
  $drop-delay: (random()*2.5) + 1;
  $drop-height:$drop-width*$drop-stretch;
  .raindrop:nth-child(#{$i}){
    left:$x * $width;
    top:$y * $height;
    width:$drop-width;
    height:$drop-height;
    background-position:percentage($x) percentage($y);
    animation: #{$drop-delay}s falling 0.3s ease-in infinite;
  }
  .border:nth-child(#{$i}){
    left:$x * $width;
    top:$y * $height;
    width:$drop-width - 4;
    height:$drop-height;
    animation: #{$drop-delay}s falling 0.3s ease-in infinite;
  }
}
