html, body, .content {
  margin: 0;
  border: 0;
  padding: 0; }

.content .item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #333;
  background-color: #eee;
  float: left; }

@media screen and (min-width: 400px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 404px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 408px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 412px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 416px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 420px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 424px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 428px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 432px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 436px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 440px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 444px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 448px) {
  .content .item {
    width: 112px; } }
@media screen and (min-width: 452px) {
  .content .item {
    width: 113px; } }
@media screen and (min-width: 456px) {
  .content .item {
    width: 114px; } }
@media screen and (min-width: 460px) {
  .content .item {
    width: 115px; } }
@media screen and (min-width: 464px) {
  .content .item {
    width: 116px; } }
@media screen and (min-width: 468px) {
  .content .item {
    width: 117px; } }
@media screen and (min-width: 472px) {
  .content .item {
    width: 118px; } }
@media screen and (min-width: 476px) {
  .content .item {
    width: 119px; } }
@media screen and (min-width: 480px) {
  .content .item {
    width: 120px; } }
@media screen and (min-width: 484px) {
  .content .item {
    width: 121px; } }
@media screen and (min-width: 488px) {
  .content .item {
    width: 122px; } }
@media screen and (min-width: 492px) {
  .content .item {
    width: 123px; } }
@media screen and (min-width: 496px) {
  .content .item {
    width: 124px; } }
@media screen and (min-width: 500px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 505px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 510px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 515px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 520px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 525px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 530px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 535px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 540px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 545px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 550px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 555px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 560px) {
  .content .item {
    width: 112px; } }
@media screen and (min-width: 565px) {
  .content .item {
    width: 113px; } }
@media screen and (min-width: 570px) {
  .content .item {
    width: 114px; } }
@media screen and (min-width: 575px) {
  .content .item {
    width: 115px; } }
@media screen and (min-width: 580px) {
  .content .item {
    width: 116px; } }
@media screen and (min-width: 585px) {
  .content .item {
    width: 117px; } }
@media screen and (min-width: 590px) {
  .content .item {
    width: 118px; } }
@media screen and (min-width: 595px) {
  .content .item {
    width: 119px; } }
@media screen and (min-width: 600px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 606px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 612px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 618px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 624px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 630px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 636px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 642px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 648px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 654px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 660px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 666px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 672px) {
  .content .item {
    width: 112px; } }
@media screen and (min-width: 678px) {
  .content .item {
    width: 113px; } }
@media screen and (min-width: 684px) {
  .content .item {
    width: 114px; } }
@media screen and (min-width: 690px) {
  .content .item {
    width: 115px; } }
@media screen and (min-width: 696px) {
  .content .item {
    width: 116px; } }
@media screen and (min-width: 700px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 707px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 714px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 721px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 728px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 735px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 742px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 749px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 756px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 763px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 770px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 777px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 784px) {
  .content .item {
    width: 112px; } }
@media screen and (min-width: 791px) {
  .content .item {
    width: 113px; } }
@media screen and (min-width: 798px) {
  .content .item {
    width: 114px; } }
@media screen and (min-width: 800px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 808px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 816px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 824px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 832px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 840px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 848px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 856px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 864px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 872px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 880px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 888px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 896px) {
  .content .item {
    width: 112px; } }
@media screen and (min-width: 900px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 909px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 918px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 927px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 936px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 945px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 954px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 963px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 972px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 981px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 990px) {
  .content .item {
    width: 110px; } }
@media screen and (min-width: 999px) {
  .content .item {
    width: 111px; } }
@media screen and (min-width: 1000px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1010px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1020px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1030px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1040px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1050px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1060px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1070px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 1080px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 1090px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 1100px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1111px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1122px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1133px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1144px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1155px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1166px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1177px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 1188px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 1199px) {
  .content .item {
    width: 109px; } }
@media screen and (min-width: 1200px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1212px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1224px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1236px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1248px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1260px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1272px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1284px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 1296px) {
  .content .item {
    width: 108px; } }
@media screen and (min-width: 1300px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1313px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1326px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1339px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1352px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1365px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1378px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1391px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 1400px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1414px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1428px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1442px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1456px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1470px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1484px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1498px) {
  .content .item {
    width: 107px; } }
@media screen and (min-width: 1500px) {
  .content .item {
    width: 100px; } }
@media screen and (min-width: 1515px) {
  .content .item {
    width: 101px; } }
@media screen and (min-width: 1530px) {
  .content .item {
    width: 102px; } }
@media screen and (min-width: 1545px) {
  .content .item {
    width: 103px; } }
@media screen and (min-width: 1560px) {
  .content .item {
    width: 104px; } }
@media screen and (min-width: 1575px) {
  .content .item {
    width: 105px; } }
@media screen and (min-width: 1590px) {
  .content .item {
    width: 106px; } }
@media screen and (min-width: 1600px) {
  .content .item {
    width: 100px; } }

/*# sourceMappingURL=style.css.map */
